@charset "utf-8"; 

.main_wrap{
  position: relative;
  width:100%;
}

.main_wrap > .main_min {
  position: relative;
  width:100%;
}

.main_wrap > .main_min > .main_header_logo{
  position: absolute;
  top:25px;
  right:20px;
}

.main_wrap > .main_min > .main_header_logo > img{
  width:40px;
}

.main_wrap > .main_min > .main_header{
  position: relative;
  width:100%;
  min-height:260px;
  box-sizing: border-box;
  padding:70px 20px 40px 20px;
}

.main_wrap > .main_min > .main_header > h2{
  font-size:30px;
  color:#000;
  font-weight: 400;
  line-height:120%;
}

.main_wrap > .main_min > .main_header > .main_search{
  position: relative;
}

.main_wrap > .main_min > .main_header > .main_search > select[type="text"]{
  width:100%;
  height:50px;
  box-sizing: border-box;
  border:1px solid #26ABDD;
  color:#26ABDD;
  font-size:18px;
  padding-left:17px;
  margin-top:25px;
  background:url('../images/main/search_icon.svg') no-repeat calc(100% - 10px) -17px;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

.main_wrap > .main_min > .main_header > .main_search > select[type="text"]::placeholder{
  color:#26ABDD;
  font-size:18px;
}

